* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body,
#root {
    background-color: #252525;
    height: 100vh;
}

h1 {
    text-align: center;
    color: white;
    font-weight: 600;
    margin: 0 10px;
}

.App {
    min-height: 100vh;
    display: flex;
    flex-direction: column;  
}

.rutas{
    margin-top: 270px;
    height: 100%;
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}